/* HTML Elements */

h1 {
    padding: 2% 0; 
}



/* Navigationbar */

.navbar {
    background-color: #06641E;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 1.2rem;
    padding-left: 10px;
}




/* General */ 

.row {
    padding: 0 4%;
}

.bottom-container {
    padding: 15px 10px 10px 10px;
    background-color: #06641E;
    color: #cfe7c5;
}






/* Text */

.text {
    padding: 1%;
    text-align:justify;
}

.betonung {
    font-weight: bold;
    padding-left: 5px;
}






/* Images */

.bruecke {
    max-width: 100%;
    height: auto;
}

.herzchenreihe {
    width: 17%;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.herzchen {
    width: 100%;
    max-width: 200px;
    justify-content: center;
}


.icon-image {
    display: flex;
    justify-content: center;
    align-items: center;
}



