.navbar {
    background-color: #06641E;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 1.4rem;
}

.text {
    padding: 1%;
    text-align:justify;
}

.bruecke {
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.bottom-container {
    padding: 10px;
    background-color: #06641E;
    color: #fff;
    padding-top: 15px;
}

.langenau-image {
    width: 100%;
    max-width: 200px;
}

.tor-image {
    width: 100%;
    max-width: 200px;
}

.round-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 20px;
}

hr {
    border-color: #06641E;
    color: #06641E;
    border-style: dotted none none;
    border-width: 5px;
    width: 5%;
    margin: auto;
}

.Telefon {
    font-weight: bold;
    font-size: 1.6em;
    padding-left: 5px;
}