.navbar {
    background-color: #06641E;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 1.4rem;
}

.text {
    padding: 1%;
    text-align:justify;
}

.bruecke {
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.row {
    padding: 0 4%;
}



.bottom-container {
    padding: 10px;
    background-color: #06641E;
    color: #fff;
    padding-top: 15px;
}

.herzchenreihe {
    width: 17%;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.herzchen {
    width: 100%;
    max-width: 200px;
    justify-content: center;
}


.round-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 2% 0; 
}

hr {
    border-color: #06641E;
    color: #06641E;
    border-style: dotted none none;
    border-width: 5px;
    width: 5%;
    margin: auto;
}

.Betonung {
    font-weight: bold;
    padding-left: 5px;
}